<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIBezierPathTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>856524C81F8DCDE900D65FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856524E11F8DCDEA00D65FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>856524EC1F8DCDEA00D65FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
